.root {
  text-align: center;
  background-image: url('../public/assets/paper-1.jpg');
  height: 100vh;
  
  
}


.header {
  background-color: #393E40;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Fredericka the Great', cursive;
  color: white;
  border-bottom:  2px solid white;
}

.item-section {
 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.footer {
  background-color: #393E40;;
  opacity: 60%;
  position:absolute;
  bottom:0;
  width:100%;
  height: 150px;
  border-top: 2px solid white;
  
}

 